body
{
    color: #ffffff;
    font-family: "Avenir", Verdana, sans-serif;
    border-top: 2vw solid #000;
    border-bottom: 2vw solid #000;
    border-left: 4vw solid #000;
    border-right: 4vw solid #000;
    background-color: #777;
    padding: 2%;
    margin: auto;
}

#readme
{
    margin-top: 10px;
    padding: 0 18vw;
}

.button {
    background-color: #ec6d6d; /* Green */
    border: none;
    /*color: white;*/
    margin: 0px 0px 6px 0px;
    padding: 2% 3%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

#game {
    text-align: center;
}

a { text-decoration: none; color: #000; }
a:visited { text-decoration: none; color:#000; }
a:hover { text-decoration: none; color:#000; }
a:focus { text-decoration: none; color:#fff; }
a:hover, a:active { text-decoration: none; color:#fff }